body {
    background-color: #f2f2f2;
}

/* 全体中央寄せ */
.timestamp__content {
    margin: 0 auto;
    text-align: center;
}

.timestamp-form {
    margin: auto;
    width: 70%;
}


.timestamp-form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 30vh 30vh;
}

.timestamp-form__button {
    margin: auto;
    width: 90%;
    height: 90%;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    &:disabled{
        cursor: auto;
    }
}

